*{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    -webkit-box-shadow: 0 10px 10px -2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 10px 10px -2px rgba(0,0,0,.1);
    box-shadow: 0 10px 10px -2px rgba(0,0,0,.1);
    font-size: 18px;
    color: #222;
}

.active {
    font-weight: bold;
    color: #336699;
}

.tebal{
    color: #336699;
    font-weight: bold;
}

.text-abu1{
    color: #3b3b39;
}

.desc{
    font-size: 18px;
    line-height: 30.24px;
    text-align: justify;
}

.tengah{
    justify-content:center;
}

/* footer */
.abu1{
    background-color: #f5f5f5;
}

.abu2{
    background-color: #336699;
}

.footer-copyright{
    color: #fff;
}

.footer-copyright a{
    color: #fff;
}

.icn{
    color: #336699;
}

