html{
  box-sizing: border-box;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}

body{
  padding : 0;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.line{
  position: relative;
  height: auto;
}

.nav{
  position: relative;
  width: 100%;
  background: #fff;
}

/*navigasi bar*/
header{
  padding: 0 100px;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  transition: .5s;
}

header a img{
  width: 80px;
  height: 80px;
  padding: 10px;
}

ul{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
  transition: .5s;
}

ul li{
  list-style: none;
}

ul li a{
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #262626;
  font-weight: bold;
  transition: .5s;
}

ul li a:hover{
  background: #000;
  color: #fff;
}

ul li a.aktif{
  background: #000;
  color: #fff;
}

.toggle{
  display : none;
  position: absolute;
  right: 30px;
  top: 26px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
}

span.one{
  position: absolute;
  width: 30px;
  height: 2px;
  right: 5px;
  background: #262626;
}

span.two{
  position: absolute;
  width: 30px;
  height: 2px;
  right: 5px;
  background: #262626;
  margin-top: 8px;
}

span.three{
  position: absolute;
  width: 30px;
  height: 2px;
  right: 5px;
  background: #262626;
  margin-top: 16px;
}

@media(max-width: 1920px)
{
  .kelas{
    width: 300px;
    padding: 5px;
    border:2px dashed #262626;
    margin-top: 40px;
    font-size: 28px;
    font-weight: lighter;
    color: #262626;
    margin-left: auto;
    margin-right: auto;
  }
}

/*================================*/
.container{
  /* position: absolute;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; */
  height: auto;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0 100px;
  margin: 0 auto 0 auto;
}

.secWhite{
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
  text-align: justify;
  padding-top: 30px;
  /* background-color: black; */
  color: #262626;
  overflow-x: auto;
  margin-bottom: 20px;
}

.footer{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #262626;
  color:#fff;
  text-align: center;
  margin-top: 97px;
}

.anggota{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.anggota img{
  border-radius: 100%;
  width: 300px;
  height:300px;
}

.foto{
  font-weight: bold;
  font-family: sans-serif;
}

.secWhite hr{
  border: 1px solid #262626;
}

.nama{
  padding: 30px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
/*==================
input
====================*/
.txt{
  display: block;
  border: 0;
  width: 400px;
  height: 35px;
  padding: 5px 20px;
  outline: 0;
  font-size: 15px;
  border-bottom: 2px solid #262626;
  line-height: 35px;
  transition: .5s;
}

.txt:focus{
  border-bottom: 2px solid #2276BC;
}

.selBox{
  display: block;
  width: 400px;
  height: 35px;
  padding: 5px 20px;
  font-size: 15px;
}

.btn{
  display: block;
  width: 100px;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #efefef;
  background-color: #2276BC;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}
/*=====================*/

@media(max-width: 1366px)
{
  .anggota{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .anggota img{
    border-radius: 100%;
    width: 200px;
    height:200px;
  }

  .foto{
    font-weight: bold;
    font-family: sans-serif;
  }

  .secWhite hr{
    border: 1px solid #262626;
  }

  .nama{
    margin-top: 10px;
    width: 250px;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }

  .kelas{
    width: 300px;
    padding: 5px;
    border:2px dashed #262626;
    margin-top: 40px;
    font-size: 28px;
    font-weight: lighter;
    color: #262626;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 992px)
{
  .tbl{
    overflow-x: auto;
  }

  .toggle{
    display : block;
  }

  header{
    padding: 0 0;
    background: #fff;
  }

  header a img{
    margin-left: 30px;
  }

  header ul{
    width: 100%;
    top: -4px;
    display: none;
  }

  header ul.active{
    display: block;
    z-index: 999;
  }

  header ul li a{
    margin: 0;
    display: block;
    text-align: center;
    color: #fff;
    background: rgba(38,38,38,0.6);
  }
}
/*==========================*/

$primary = #225CFF
$gray = #C8CCD4

body
  font-family: "Roboto", sans-serif

.radio
  position: relative
  cursor: pointer
  line-height: 20px
  font-size: 14px
  margin: 15px
  .label
    position: relative
    display: block
    float: left
    margin-right: 10px
    width: 20px
    height: 20px
    border: 2px solid $gray
    border-radius: 100%
    -webkit-tap-highlight-color: transparent
    &:after
      content: ''
      position: absolute
      top 3px
      left 3px
      width 10px
      height 10px
      border-radius 100%
      background $primary
      transform scale(0)
      transition all .2s ease
      opacity .08
      pointer-events: none
  &:hover
    .label:after
      transform scale(3.6)
    
  
input[type="radio"]:checked + .label
  border-color $primary
  &:after
    transform scale(1)
    transition all .2s cubic-bezier(.35,.9,.4,.9)
    opacity 1

.cntr
  position absolute
  top calc(50% - 10px)
  left 0
  width 100%
  text-align center

.hidden
  display none
  
//dribbble 
.credit
  position: fixed
  right: 20px
  bottom: 20px
  transition: all .2s ease
  -webkit-user-select: none
  user-select: none
  opacity: .6
  img
    width: 72px
  &:hover
    transform: scale(.95)